@font-face {
  font-family: 'MyFont';
  src: url('./HussarBoldWeb.woff') format('woff'),
    url('./HussarBoldWeb.otf') format('otf');
  font-style: normal;
}



.hello {
  color: red;
  background: url('./icon-check.png');
  font-family: MyFont;
  font-size: 32px;
}